/* =========================
   FONTS
========================= */

@font-face {
  font-family: 'Comeback Home';
  src: url('../assets/fonts/comback-home-font/CombackHomeRegular-jEMd9.ttf') format('truetype');
}

@font-face {
  font-family: 'Badaboom BB';
  src: url('../assets/fonts/badaboom_bb/BadaboomBB.ttf') format('truetype');
}

@font-face {
  font-family: 'Anime Ace 2.0 BB';
  src: url('../assets/fonts/anime_ace_bb/animeace2bb_tt/animeace2_reg.ttf') format('truetype');
}

/* =========================
   VARIABLES
========================= */
html, body {
  overflow: hidden; /* plus de scroll global */
  height: 100%;
}

.main-content {
  position: relative;
  overflow-y: scroll; /* scrollbar toujours visible */
  max-height: calc(100vh - 60px);
}

/* =========================
   COULEURS & ROOT
========================= */
:root {
  --bg-main: #F5E6CB;
  --text-main: #000000;
  --text-outline: #F5E6CB;
}

/* =========================
   BASE
========================= */
body {
  background-color: var(--bg-main);
  margin: 0;
  color: var(--text-main);
}

h1, h2, h3 {
  font-family: 'Badaboom BB', cursive;
  letter-spacing: 0.03em;
}

p, .news article, .about-text p {
  font-family: 'Anime Ace 2.0 BB', sans-serif;
  font-size: 0.7rem;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: var(--text-main);
}

/* =========================
   SCROLLBAR MAIN-CONTENT
========================= */
.main-content::-webkit-scrollbar {
  width: 12px;
}

.main-content::-webkit-scrollbar-track {
  background: #000; /* fond noir */
  border-radius: 10px;
}

.main-content::-webkit-scrollbar-thumb {
  background: #E31E1E; /* rouge Spider-Man */
  border-radius: 10px;
  border: 2px solid #000; /* contour noir */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #FF2D2D; /* rouge clair au hover */
}

/* Firefox */
.main-content {
  scrollbar-width: thin;
  scrollbar-color: #E31E1E #000; /* thumb / track */
}

/* Smooth scrolling global */
html {
  scroll-behavior: smooth;
}

/* =========================
   HIDE SCROLLBAR - RESPONSIVE
========================= */
@media (max-width: 1024px) {
  .main-content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .main-content {
    scrollbar-width: none;      /* Firefox */
    -ms-overflow-style: none;   /* IE / old Edge */
  }
}
