/* =========================
   FONTS – IMPORTATION DES POLICES
========================= */
@font-face {
  font-family: 'Comeback Home';
  src: url('../assets/fonts/comback-home-font/CombackHomeRegular-jEMd9.ttf') format('truetype');
}

@font-face {
  font-family: 'Badaboom BB';
  src: url('../assets/fonts/badaboom_bb/BadaboomBB.ttf') format('truetype');
}

@font-face {
  font-family: 'Anime Ace 2.0 BB';
  src: url('../assets/fonts/anime_ace_bb/animeace2bb_tt/animeace2_reg.ttf') format('truetype');
}

/* =========================
   VARIABLES & ROOT
========================= */
:root {
  --bg-main: #F5E6CB;
  --text-main: #000000;
  --text-outline: #F5E6CB;
}

/* =========================
   BASE – STRUCTURE & TYPOGRAPHIE
========================= */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-main);

  /* Structure pour footer en bas */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Le contenu principal prend l'espace restant */
.main-content {
  flex: 1;
}

/* =========================
   TYPOGRAPHIE
========================= */
h1, h2, h3 {
  font-family: 'Badaboom BB', cursive;
  letter-spacing: 0.03em;
}

p,
.news article,
.about-text p {
  font-family: 'Anime Ace 2.0 BB', sans-serif;
  font-size: 0.7rem;
  font-weight: 900;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: var(--text-main);
}

/* =========================
   SCROLLBAR PERSONNALISÉE (PAGE ENTIÈRE)
========================= */

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #E31E1E;
  border-radius: 10px;
  border: 2px solid #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #FF2D2D;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #E31E1E #000;
}

/* =========================
   HIDE SCROLLBAR – TABLETTE
========================= */
@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  html {
    scrollbar-width: none;
  }
}

html, body {
  overflow-x: hidden; /* bloque uniquement le scroll horizontal */
}