/* ------------------------------------------------------ */
/* BASE                                                   */
/* ------------------------------------------------------ */

.news,
.news * {
  box-sizing: border-box;
}

.book {
  position: relative;
  display: flex;
  margin: auto;
  width: 70cqmin;
  pointer-events: none;
  transform-style: preserve-3d;
  transition: translate 1s;
  translate: calc(min(var(--c), 1) * 50%) 0%;
  rotate: 1 0 0 30deg;
}

.page {
  --thickness: 4;
  flex: none;
  display: flex;
  width: 100%;
  font-size: 2cqmin;
  pointer-events: all;
  user-select: none;
  transform-style: preserve-3d;
  transform-origin: left center;
  transition:
    transform 1s,
    rotate 1s ease-in calc((min(var(--i), var(--c)) - max(var(--i), var(--c))) * 50ms);
  translate: calc(var(--i) * -100%) 0px 0px;
  transform: translateZ(calc((var(--c) - var(--i) - 0.5) * calc(var(--thickness) * .23cqmin)));
  rotate: 0 1 0 calc(clamp(0, var(--c) - var(--i), 1) * -180deg);
}

.front,
.back {
  position: relative;
  flex: none;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  background-color: #fff;
  translate: 0px;
  display: flex;
  flex-direction: column;
  padding: 2em;
  border: 1px solid #0002;
}

.back {
  translate: -100% 0;
  rotate: 0 1 0 180deg;
}

/* ------------------------------------------------------ */
/* COUVERTURE                                             */
/* ------------------------------------------------------ */

.cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background:
    #11110d
    url("../assets/images/Couverture Daily Bugle Spider-Man.png")
    center / auto 89% no-repeat;
  z-index: 0;
}

.cover-black {
  background: #000;
  color: #000;
}

.cover-black::before {
  display: none;
}

/* ------------------------------------------------------ */
/* IMAGES DES ACTUALITÉS                                 */
/* ------------------------------------------------------ */

.book .page .front .news-img,
.book .page .back .news-img {
  width: 75%;
  height: 360px;
  object-fit: cover;
  object-position: center;

  display: block;
  margin: 40px auto 40px; /* espace au-dessus et en dessous */
  border-radius: 6px;

  flex-shrink: 0;
}

/* ------------------------------------------------------ */
/* TITRES                                                 */
/* ------------------------------------------------------ */

.book .page .front h2,
.book .page .back h2 {
  font-size: 2rem;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
}

/* ------------------------------------------------------ */
/* PARAGRAPHES                                            */
/* ------------------------------------------------------ */

.book .page p {
  text-align: left;
  margin: 15px 25px;
  font-size: 1.2cqmin;
  line-height: 1.6cqmin;
  max-width: 90%;
  flex-shrink: 0;
}

/* Style de la source */
.book .page p em {
  font-family: 'Badaboom BB', cursive;
  font-style: normal;
  letter-spacing: 1.5px;
  display: inline-block;
    margin-top: 30px;
}


/* Le dernier paragraphe (la source) collé en bas de la page */
.book .page .front p:last-of-type,
.book .page .back p:last-of-type {
  margin-top: auto;
}
